{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<div class="col-md-9">

<h3>Por favor olhe sua caixa de <span class="fw-semi-bold">Email</span>. Nós enviamos uma email com a chave de ativação da sua conta.</h3>
<h3>Caso não encontre o email, não esqueça de olhar a caixa de <span class="fw-semi-bold">SPAM</span>.</h3>

{% endblock %}

</div>

{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}