{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}



<!--
<form method="post" action="">
        <h1 class="page-title">CDR-Port - <span class="fw-semi-bold">Criar novo usuário</span></h1>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <header>

                    </header>
                    <div class="widget-body">
                            <fieldset>
                                <legend><strong>Horizontal</strong> form</legend>

	
								    {% csrf_token %}
    								{{ form|crispy }}


                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-offset-4 col-sm-7">
                                        <button type="submit" class="btn btn-primary">Criar usuário</button>
                                        <button type="button" class="btn btn-inverse">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </section>
            </div>

        </div>

</form>

-->
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}