{% extends "base.html" %}
{% load humanize %}
{% load l10n %}
{% load staticfiles %}
{% load bootstrap %}
{% block nome %}
    <strong>{{user}}</strong>&nbsp;
{% endblock %}

{% block menu_1 %}
                    <li class="active"><a href="{% url 'operadoras' %}">Operadoras</a></li>
                    <li><a href="{% url 'cdr' %}">CDR</a></li>
{% endblock menu_1 %}

{% block lista_server %}{% endblock lista_server %}

{% block content %}


<div class="row mb-lg non-printable">
    <div class="col-md-12">
        <div class="tab-pane" id="financeiro">
            <div class="col-xs-4">
            	<h4>Plano atual:  <span class="fw-semi-bold">{{plano_nome}}</span></h4>
            </div>
            <div class="col-xs-6">
            	{% if tipo == '0' %}
            		<h4>Consultas ilimitadas<span class="fw-semi-bold"> até <strong>{{expira|date:"d F Y"}}</strong></span></h4>
            	{% else %}
            		<h4>Consultas disponíveis:  <span class="fw-semi-bold">{{consultas}}</span></h4>
            	{% endif %}
            	
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
		    <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h5 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                        Últimas compras
		                        <i class="fa fa-angle-down pull-right"></i>
		                    </a>
		                </h5>
		            </div>
		                <div id="collapseTwo" class="panel-collapse collapse out">
				            <div class="tab-pane" id="financeiro">
								<br>
				                <div class="clearfix">
								    <div class="col-md-12">
								        <section class="widget">
								            <header>
								                <h5>Últimas <span class="fw-semi-bold">transações</span></h5>
								            </header>
								            <div class="widget-body">
								                <table class="table table-striped mt-lg mb-0">
								                    <thead>
								                    <tr>
								                        <th class="text-align-center">Plano</th>
								                        <th class="text-align-center">Data Compra</th>
								                        <th class="text-align-center">Última atualização</th>
								                        <th class="text-align-center">Forma de pagamento</th>
								                        <th class="text-align-center">Metodo de pgamento</th>
								                        <th class="text-align-center">Status</th>
								                        <th class="text-align-center">Creditos inseridos</th>
								                        <th class="text-align-center">Recibo</th>
								                    </tr>
								                    </thead>
								                    <tbody>
								                    {% for n in retorno %}
								                        <tr>
								                            <td class="text-align-center">{{n.item}}</td>
								                            <td class="text-align-center">{{n.date|naturaltime}}</td>
								                            <td class="text-align-center">{{n.lastEventDate|naturaltime}}</td>
								                            <td class="text-align-center">{{n.get_paymentMethod_display}}</td>
								                            <td class="text-align-center">{{n.get_paymentMethodCode_display}}</td>
								                            <td class="text-align-center fw-semi-bold">{{n.get_status_display}}</td>
								                            <td class="text-align-center">{{n.consultas|intcomma}}</td>
															{% if n.status == '3' %}
								                            <td> <button href="/portabilidade/info/{{n.id}}" data-toggle="modal" data-target="#myModal18"  class="btn btn-inverse">
											                    <i class="fa fa-print"></i></button></td>
															{% else %}
								                            <td> <button disabled="disabled" id="print" class="btn btn-inverse">
											                    <i class="fa fa-print"></i></button></td>
																
															{% endif %}
								                        </tr>
								                    {% endfor %}
								                    </tbody>
								                </table>
								            </div>
								        </section>
								    </div>
				                </div>
				            </div>
		    			</div>
		        </div>
			</div>
		</div>
	</div>


	<div class="panel-body">
	    <form role="form" name="enviar" method="POST">{% csrf_token %}
	        <div class="row">
	            <div class="col-md-4">
	                <div class="form-group">
	                   <select class="selectpicker" data-style="btn-default"
	                            data-width="auto" name="plano"
	                            tabindex="-1" id="simple-select">
	                        <option>{{planos}}</option>
	                                                	
		                        {% for plano,valor,especial in todos %}
		                        	{% if valor != 0.00 and especial == '0' %}
		                        		<option  value="{{plano}}">{{plano}}</option>
		                        	{% endif %}
		                        {% endfor %}

		                        {% for plano in planos_cliente %}
		                        		<option  value="{{plano}}">{{plano}}</option>
		                        {% endfor %}
		                    
	                    </select>
	                </div>
	            </div>
			    <div class="col-md-12">
			        <section class="widget">
			            <header>
			                <h5>Detalhes do <span class="fw-semi-bold">plano</span></h5>
			            </header>
			            <div class="widget-body">
			                <table class="table table-striped mt-lg mb-0">
			                    <thead>
			                    	{% if planos %}
					                    <tr>
					                        <th class="text-align-center">Plano</th>
					                        <th class="text-align-center">Descrição</th>
					                        <th class="text-align-center">Total de contultas</th>
					                        <th class="text-align-center">Valor por Consulta</th>
					                        <th class="text-align-center">Valor do plano</th>
					                        <th class="text-align-center">Taxas PagSeguro</th>
					                        <th class="text-align-center">Valor total a pagar</th>
					                    </tr>
									{% else %}
										<h3 class="text-align-center">Selecione um <span class="fw-semi-bold">plano</span>
											<br><br>
										<img align="center" src="{% static "img/pagseguro.png"%}" alt="..."></h3>
									{% endif %}
			                    </thead>
			                    <tbody>
									{% if planos %}
			                        <tr>
			                            <td class="text-align-center">{{planos}}</td>
			                            <td class="text-align-center">{{descricao}}</td>
			                            {% if total == 0 %}
			                            	<td class="text-align-center">Ilimitadas por 30 dias</td>
			                            {% else %}
			                            	<td class="text-align-center">{{total|intcomma}}</td>
			                            {% endif %}
			                            <td class="text-align-center">R$ {{valor_consulta}}</td>
			                            <td class="text-align-center">R$ {{valor}}</td>
			                            <td class="text-align-center">R$ {{taxa}}</td>
			                            <td class="text-align-center">R$ {{valor_total}}</td>
			                        </tr>
									{% endif %}
			                    </tbody>
			                </table>
			                	{% if consultas_gratis > 0 %}	
			                		<header>
						                <h4>Ao comprar este plano, você receberá <strong>+ {{consultas_gratis|intcomma}}</strong> consultas <span class="fw-semi-bold">grátis</span></h4>
						            </header>
			                		<header>
						                <h4>Os créditos seram inseridos automaticamente apos a compra ser confirmada como <strong>PAGA</strong> pelo PagSeguro. Na aba <strong>Últimas compras</strong>, você pode acompanhar o status do pagamento. <span class="fw-semi-bold"></span></h4>
						            </header>
							    {% else %}
							    <br>
			                		<header>
						               <h4>Os créditos seram inseridos automaticamente apos a compra ser confirmada como <strong>PAGA</strong> pelo PagSeguro. Na aba <strong>Últimas compras</strong>, você pode acompanhar o status do pagamento. <span class="fw-semi-bold"></span></h4>
						            </header>
							    {% endif %}
			            </div>
			        </section>
			    </div>
			    <div class="form-actions">
			        <div class="row">
			            <div class="col-sm-offset-5 col-sm-7">
			                {% if planos %}
			                	<button type="submit" value="{{planos}}" name="comprar" class="btn btn-primary">Pagar com o PagSeguro</button>
								<button type="submit" name="selecionar" class="btn btn-inverse">Selecionar outro plano</button>
			                {% else %}
			                	<button type="submit" name="selecionar" class="btn btn-inverse">Selecionar plano</button>
			                {% endif %}
			            </div>

			        </div>
			    </div>

				</div>
		</form>
	</div>
</div>


<div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
	        <div class="row">
	            <div class="col-md-12">
	                <section class="widget widget-invoice">
	                    <header>
	                        <div class="row">

	                        </div>
	                    </header>
	                    <div class="widget-body">
				
	                    </div>
	                </section>
	            </div>
	        </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}


<script id="test" src="{% static "vendor/underscore/underscore.js"%}"></script>
<script src="{% static "vendor/jquery.sparkline/index.js"%}"></script>
<script src="{% static "vendor/jquery.sparkline/index.js"%}"></script>
<script src="{% static "vendor/d3/d3.min.js"%}"></script>
<script src="{% static "vendor/rickshaw/rickshaw.min.js"%}"></script>
<script src="{% static "vendor/raphael/raphael-min.js"%}"></script>
<script src="{% static "vendor/jQuery-Mapael/js/jquery.mapael.js"%}"></script>
<script src="{% static "js/brazil.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/popover.js"%}"></script>
<script src="{% static "vendor/bootstrap_calendar/bootstrap_calendar/js/bootstrap_calendar.min.js"%}"></script>
<script src="{% static "vendor/jquery-animateNumber/jquery.animateNumber.min.js"%}"></script>


<!-- page specific libs -->
<script src="{% static "vendor/underscore/underscore-min.js"%}"></script>
<script src="{% static "vendor/backbone/backbone.js"%}"></script>
<script src="{% static "vendor/backbone.paginator/lib/backbone.paginator.min.js"%}"></script>
<script src="{% static "vendor/backgrid/lib/backgrid.js"%}"></script>
<script src="{% static "vendor/backgrid-paginator/backgrid-paginator.js"%}"></script>
<script src="{% static "vendor/datatables/media/js/jquery.dataTables.js"%}"></script>
<script src="{% static "vendor/bootstrap-select/dist/js/bootstrap-select.min.js"%}"></script>

<script src="{% static "js/tables-dynamic.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/tab.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/modal.js"%}"></script>

<script type="text/javascript">
$(document).on('hidden.bs.modal', function (e) {
    $(e.target).removeData('bs.modal');
});
</script>


{% endblock %}