<table data-module="Header" data-bgcolor="Header" data-bg="Header" style="position: relative; opacity: 1; z-index: 0; background-image: url(http://www.stampready.net/do/uploads/1368011618osx_hero_xlarge.jpg); background-size: cover; background-position: 50% 40%;" bgcolor="#3b3b3b" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td bgcolor="#3498db" class="zay600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: rgba(0, 0, 0, 0.2);background-size: cover;">
        <table cellspacing="0" cellpadding="0" align="center" border="0" width="90%" class="zay600">
          <!-- img -->

          <tr>
            <td align="center">
              <table align="center" class="zay600" width="82%" border="0" cellspacing="0" cellpadding="0">
                <!-- logo -->

                <tr>
                  <td>
                    <table align="left" class="zay3-3" width="120" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="40">
                        </td>
                      </tr>
                      <!-- logo -->

                      <tr>
                        <td align="center" valign="middle" style="line-height:0px;">
                          <img style="display:block; font-size:0px; line-height:0px; border:0px;" src="http://www.stampready.net/dashboard/editor/uploads/55644ca29fc5a.png" width="90" height="27" alt="img" />
                        </td>
                      </tr>
                      <!-- end logo -->

                    </table>
                    <!--Space-->

                    <table width="1" height="30" border="0" cellpadding="0" cellspacing="0" align="left">
                      <tr>
                        <td height="30" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                          <p style="padding-left: 24px;">
                            &nbsp;
                          </p>
                        </td>
                      </tr>
                    </table>
                    <table align="right" class="zay3-3" width="420" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="50">
                        </td>
                      </tr>
                      <!-- logo -->

                      <tr>
                        <td align="center">
                          <table class="zay-inner" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                              <td data-link-style="text-decoration:none; color:#ffffff;" data-link-color="Link" data-color="Menu" data-size="Menu" data-min="12" data-max="16" align="center" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; padding-right: 10px;">
                                 <a href="#" style="color: rgb(255, 255, 255);" data-color="Menu Link">01. HOME</a>
                              </td>
                              <td data-link-style="text-decoration:none; color:#ffffff;" data-link-color="Link" data-color="Menu" data-size="Menu" data-min="12" data-max="16" align="center" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; padding-left: 10px; padding-right: 10px;">
                                 <a href="#" style="color: rgb(255, 255, 255);" data-color="Menu Link">02. ABOUT US</a>
                              </td>
                              <td data-link-style="text-decoration:none; color:#ffffff;" data-link-color="Link" data-color="Menu" data-size="Menu" data-min="12" data-max="16" align="center" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; padding-left: 10px; padding-right: 10px;">
                                 <a href="#" style="color: rgb(255, 255, 255);" data-color="Menu Link">03. PORTFOLIO</a>
                              </td>
                              <td data-link-style="text-decoration:none; color:#ffffff;" data-link-color="Link" data-color="Menu" data-size="Menu" data-min="12" data-max="16" align="center" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; padding-left: 10px;">
                                 <a href="#" style="color: rgb(255, 255, 255);" data-color="Menu Link">04. CONTACTS</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- end logo -->

                    </table>
                    <!--End Space-->

                  </td>
                </tr>
                <!-- menu -->

                <!-- end menu -->

              </table>
            </td>
          </tr>
          <!-- end logo -->

          <tr>
            <td height="100" class="header-td">
            </td>
          </tr>
          <!-- subtitle -->

          <tr>
            <td>
              <!-- content -->

              <table class="zay600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table border="0" width="184" align="center" cellpadding="0" cellspacing="0" class="container580">
                      <tr>
                        <td align="center" valign="middle" style="line-height:0px;">
                          <img style="display:block; font-size:0px; line-height:0px; border:0px;" src="http://demo.select-themes.com/capri/wp-content/uploads/2015/06/welcome1.png" width="184" height="43" alt="img" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="5" style="font-size: 25px; line-height: 25px;">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <!-- img -->

                    <table align="center" class="zay3-3" width="275" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="line-height:0px;">
                          <img class="img1" style="display:block; font-size:0px; line-height:0px; border:0px;" src="http://www.stampready.net/dashboard/editor/uploads/557e584ee0dc3.png" width="473" height="91" alt="img" />
                        </td>
                      </tr>
                    </table>
                    <!-- end img -->

                  </td>
                </tr>
                <tr>
                  <td height="15" style="font-size: 25px; line-height: 25px;">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="container580">
                      <tr>
                        <td align="center" style="color: #ffffff; font-size: 27px; font-family: Montserrat, sans-serif;  line-height: 29px;font-weight: 600;">
                          <div class="editable_text" style="line-height: 29px">
                            <!-- ======= section text ======= -->
<span class="text_container"></span>
                            <multiline>
                              Import Demo Content With One Click
                            </multiline>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="15" style="font-size: 35px; line-height: 20px;">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table align="center" width="80%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td bgcolor="#ffffff" height="6" style="line-height:0px; font-size:0px;">
                          &nbsp;
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="35" style="font-size: 35px; line-height: 35px;">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="container580">
                      <tr>
                        <td align="center">
                          <div class="editable_text" style="line-height: 29px">
                            <!-- ======= section text ======= -->
<span class="text_container"></span>
                            <multiline>
                              A few minutes is all it takes to import a fully equipped demo and set up your website.
                            </multiline>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="35" style="font-size: 35px; line-height: 35px;">
                    &nbsp;
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table class="class-inner" width="150px" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text Link" align="center" height="40" style="border-radius:20px; border: 1px solid #FFFFFF;padding-left: 10px;padding-right: 10px;font-family: 'Open Sans', Arial, sans-serif; color:#ffffff; font-size:14px; ">
                          <a href="#" style="color: rgb(255, 255, 255); font-size: 14px; line-height: 23.8px; font-weight: 400;" data-color="Text Link" data-size="Main Text3"></a>
                          <singleline>
                            Learn more
                          </singleline>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- end content -->

            </td>
          </tr>
          <!-- end subtitle -->

          <tr>
            <td height="100" class="header-td">
            </td>
          </tr>
          <tr>
            <td width="200" align="center" valign="middle" style="line-height:0px;">
              <img data-crop="false" style="display:block; font-size:0px; line-height:0px; border:0px;" src="http://www.stampready.net/do/uploads/22738082001.png" width="17" height="37" alt="icon" />
            </td>
          </tr>
          <tr>
            <td height="20">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="article-right 1" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="currentTable">
    <tr>
      <td align="center">
        <table class="zay600" width="80%" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="80">
            </td>
          </tr>
          <tr>
            <td>
              <table class="zay3-3" width="50%" align="left" border="0" cellpadding="0" cellspacing="0" style=" ">
                <tr>
                  <td align="center">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/557c00d145cbb.png" alt="img" width="300" height="224" />
                  </td>
                </tr>
              </table>
              <table width="20" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </table>
              <table class="zay3-3" width="40%" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Title" data-size="Title" style="            font-weight: 900;    line-height: 26.1px;    font-family: 'Open Sans', Arial, sans-serif;    color: rgb(65, 74, 81);    font-size: 22px;" class="editable">
                    Beautiful &amp; Fully Customizable Design – No Coding Required
                  </td>
                </tr>
                <tr>
                  <td height="10">
                  </td>
                </tr>
                <tr>
                  <td data-color="Content1" data-size="Content1" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(145, 141, 141); line-height: 22.1px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit odio at sodales aliquet. Aliquam erat volutpat.
                  </td>
                </tr>
                <tr>
                  <td height="15">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="50">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="headline 2" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="     position: relative;    opacity: 1;    z-index: 0;    background-color: rgb(238, 80, 79); " class="currentTable">
    <tr>
      <td align="center" class="editable">
        <table class="zay600" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="50">
            </td>
          </tr>
          <tr>
            <td data-color="Title 2" data-size="Title 2" align="center" style="color: rgb(255, 255, 255); font-weight: 900; line-height: 26.1px; font-family: 'Open Sans', Arial, sans-serif; font-size: 29px;">
              Select Any Demo And Import It With Just One Click.
            </td>
          </tr>
          <tr>
            <td height="30  ">
            </td>
          </tr>
          <tr>
            <td data-color="Content01" data-size="Content01" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 21px; font-weight: 400; color: rgb(255, 255, 255); line-height: 30.45px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit odio at sodales aliquet. Aliquam erat volutpat. Aliquam eget lectus lacinia, bibendum nisl non.
            </td>
          </tr>
          <tr>
            <td height="50">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="3-features" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="position: relative; opacity: 1; z-index: 0;">
    <tr>
      <td align="center">
        <table class="zay600" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="80">
            </td>
          </tr>
          <tr>
            <td>
              <table class="zay3-3" width="183" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55644ed9747ae.png" alt="icon" width="64" height="64" />
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Feature" data-size="Feature" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #111; line-height: 24px;">
                    Easy To Use
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                    Lorem ipsum dolor sit amet dosus et consectetur dui&nbsp;
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table class="class-inner" width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text Link" align="center" height="30" style="border-radius:20px; border: 1px solid #EE504F;padding-left: 10px;padding-right: 10px;font-family: 'Open Sans', Arial, sans-serif; color: #EE504F; font-size:14px; ">
                          <a href="#" style="color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; font-weight: 400;" data-color="Text Link2" data-size="Main Text2"></a>
                          <singleline>
                            Read More
                          </singleline>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- SPACE -->

              <table width="24" height="30" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="30" style="line-height: 0;">
                    &nbsp;
                  </td>
                </tr>
              </table>
              <!-- SPACE -->

              <table class="zay3-3" width="183" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55644ee1cead4.png" alt="icon" width="64" height="64" />
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Feature" data-size="Feature" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #111; line-height: 24px;">
                    Developer Friendly
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                    Lorem ipsum dolor sit amet dosus et consectetur dui
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table class="class-inner" width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text Link" align="center" height="30" style="border-radius:20px; border: 1px solid #EE504F;padding-left: 10px;padding-right: 10px;font-family: 'Open Sans', Arial, sans-serif; color: #EE504F; font-size:14px; ">
                          <a href="#" style="color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; font-weight: 400;" data-color="Text Link2" data-size="Main Text2"></a>
                          <singleline>
                            Read More
                          </singleline>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- SPACE -->

              <table width="1" height="30" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="30" style="line-height: 0;">
                    &nbsp;
                  </td>
                </tr>
              </table>
              <!-- SPACE -->

              <table class="zay3-3" width="183" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55644ed291814.png" alt="icon" width="64" height="64" />
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Feature" data-size="Feature" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #111; line-height: 24px;">
                    Supported By Pros
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr>
                  <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                    Lorem ipsum dolor sit amet dosus et consectetur dui
                  </td>
                </tr>
                <tr>
                  <td height="20">
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table class="class-inner" width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text Link" align="center" height="30" style="border-radius:20px; border: 1px solid #EE504F;padding-left: 10px;padding-right: 10px;font-family: 'Open Sans', Arial, sans-serif; color: #EE504F; font-size:14px; ">
                          <a href="#" style="color: rgb(255, 255, 255); font-size: 12px; line-height: 20.4px; font-weight: 400;" data-color="Text Link2" data-size="Main Text2"></a>
                          <singleline>
                            Read More
                          </singleline>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="80">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="5-features" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="position: relative; opacity: 1; z-index: 0;">
    <tr>
      <td align="center">
        <table class="zay600" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="50">
            </td>
          </tr>
          <tr>
            <td>
              <table class="zay3-3" width="287" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="60" align="left" valign="top">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55660e63761eb.png" alt="icon" width="48" height="48" />
                  </td>
                  <td>
                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-color="Feature 2" data-size="Feature 2" align="left" style="font-family:">
                          GREAT DESIGN
                        </td>
                      </tr>
                      <tr>
                        <td height="10">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Lorem ipsum dolor sit amet dosus et consectetur dui sepritas aros dos quis del nulla elit.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table width="24" height="40" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="40" style="line-height: 0;">
                    &nbsp;
                  </td>
                </tr>
              </table>
              <table class="zay3-3" width="287" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="60" align="left" valign="top">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55660e6c5d497.png" alt="icon" width="48" height="48" />
                  </td>
                  <td>
                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-color="Feature 2" data-size="Feature 2" align="left" style="font-family:">
                          CREATIVE IDEA
                        </td>
                      </tr>
                      <tr>
                        <td height="10">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Lorem ipsum dolor sit amet dosus et consectetur dui sepritas aros dos quis del nulla elit.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="40">
            </td>
          </tr>
          <tr>
            <td>
              <table class="zay3-3" width="287" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="60" align="left" valign="top">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55660e8c600ed.png" alt="icon" width="48" height="48" />
                  </td>
                  <td>
                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-color="Feature 2" data-size="Feature 2" align="left" style="font-family:">
                          CLEAN CODE
                        </td>
                      </tr>
                      <tr>
                        <td height="10">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Lorem ipsum dolor sit amet dosus et consectetur dui sepritas aros dos quis del nulla elit.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table width="24" height="40" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="40" style="line-height: 0;">
                    &nbsp;
                  </td>
                </tr>
              </table>
              <table class="zay3-3" width="287" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="60" align="left" valign="top">
                    <img src="http://www.stampready.net/dashboard/editor/uploads/55660e8523199.png" alt="icon" width="48" height="48" />
                  </td>
                  <td>
                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td data-color="Feature 2" data-size="Feature 2" align="left" style="font-family:">
                          FREE SUPPORT
                        </td>
                      </tr>
                      <tr>
                        <td height="10">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="left" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Lorem ipsum dolor sit amet dosus et consectetur dui sepritas aros dos quis del nulla elit.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="50">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="price-2-column 23" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="position: relative; opacity: 1; z-index: 0;">
    <tr>
      <td align="center">
        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td data-bgcolor="Background Color" align="center" valign="top" bgcolor="#f5f5f5">
              <table class="zay600" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="80">
                  </td>
                </tr>
                <tr>
                  <td data-color="Title Price" data-size="Title Price" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 400; color: #111; letter-spacing: 2px; line-height: 24px;">
                    OUR PRODUCT
                  </td>
                </tr>
                <tr>
                  <td height="30">
                  </td>
                </tr>
                <tr>
                  <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec nisi sed diam ultricies tempus. Nullam et ligula sodales, blandit arcu sit amet, varius felis.
                  </td>
                </tr>
                <tr>
                  <td height="40">
                  </td>
                </tr>
                <tr>
                  <td>
                    <table class="zay3-3" width="287" align="left" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                      <tr>
                        <td align="center">
                          <table data-bgcolor="Main" width="100%" align="left" border="0" cellpadding="0" cellspacing="0" bgcolor="#e54a39" style="background-color: rgb(238, 80, 79);">
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Plan Title" data-size="Plan Title" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 700; color: #ffffff; line-height: 28px;">
                                BASIC
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Price" data-size="Price" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 36px; font-weight: 700; color: #ffffff;  line-height: 28px;">
                                $ 299
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Package" data-size="Package" align="center" style="font-family: Montserrat, sans-serif; font-size: 13px; font-weight: 700; color: rgb(255, 255, 255); line-height: 28px;">
                                Package
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="30">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px; padding: 0px 4px 22px; border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: rgb(245, 245, 245);">
                          Add some detailed<br /> information here
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Free Support<br /> &nbsp;15 Demos Included<br /> Newsletter<br /> &nbsp;Working Contact Form
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Unlimited Domains
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td height="30">
                        </td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table data-bgcolor="Main" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#e54a39" style="background-color: rgb(238, 80, 79);">
                            <tr>
                              <td align="center" height="38" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #000; line-height: 24px; padding-left: 25px; padding-right: 25px; ">
                                 <a href="#" style="color: #ffffff;" data-color="Button 1" data-size="Button 1">BUY IT NOW</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="20">
                        </td>
                      </tr>
                    </table>
                    <table width="24" height="40" align="left" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="40" style="line-height: 0;">
                          &nbsp;
                        </td>
                      </tr>
                    </table>
                    <table class="zay3-3" width="287" align="right" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                      <tr>
                        <td align="center">
                          <table data-bgcolor="Main" width="100%" align="left" border="0" cellpadding="0" cellspacing="0" bgcolor="#e54a39" style="background-color: rgb(238, 80, 79);">
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Plan Title" data-size="Plan Title" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 700; color: #ffffff; line-height: 28px;">
                                GOLD
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Price" data-size="Price" align="center" style="font-family: 'Montserrat', sans-serif; font-size: 36px; font-weight: 700; color: #ffffff;  line-height: 28px;">
                                $ 499
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td data-color="Package" data-size="Package" align="center" style="font-family: Montserrat, sans-serif; font-size: 13px; font-weight: 700; color: rgb(255, 255, 255); line-height: 28px;">
                                Package
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="30">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px; padding: 0px 4px 22px; border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: rgb(245, 245, 245);">
                          Add some detailed<br /> information here
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Free Support<br /> &nbsp;50 Demos Included<br /> Newsletter<br /> &nbsp;Working Contact Form
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td data-color="Content" data-size="Content" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: rgb(153, 153, 153); line-height: 22.1px;">
                          Unlimited Domains
                        </td>
                      </tr>
                      <tr>
                        <td height="15">
                        </td>
                      </tr>
                      <tr>
                        <td height="30">
                        </td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table data-bgcolor="Main" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#e54a39" style="background-color: rgb(238, 80, 79);">
                            <tr>
                              <td align="center" height="38" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #000; line-height: 24px; padding-left: 25px; padding-right: 25px; ">
                                 <a href="#" style="color: #ffffff;" data-color="Button 1" data-size="Button 1">BUY IT NOW</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="20">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="80">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table data-module="Feature 29" data-bgcolor="Background" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255);">
    <tr>
      <td data-bg="Feature" data-bgcolor="Feature" align="center" bgcolor="#3b3b3b" style="background-image: url(http://www.stampready.net/do/uploads/14238320251.jpg); background-color: rgb(255, 255, 255); background-size: cover; background-position: 50% 50%;" background="https://ppcdn.500px.org/98486845/30092812b6427a1266cb2a390ac2c42cde4d94dc/2048.jpg">
        <table class="zay600" width="580" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="70" class="header-td">
            </td>
          </tr>
          <tr>
            <td>
              <table class="zay3-3" align="center" width="580" border="0" cellspacing="0" cellpadding="0">
                <!-- title -->

                <!-- end title -->

                <!-- content -->

                <tr>
                  <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Feature Link" data-color="Feature  Content" data-size="Feature Content" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(245, 245, 245); font-size: 17px; line-height: 28.9px;" align="center">
                    Join over 60,000 happpy customers world wide using roice
                  </td>
                </tr>
                <!-- end content -->

                <tr>
                  <td height="20">
                  </td>
                </tr>
                <!-- button -->

                <tr align="center">
                  <td>
                    <table align="center" class="zay3-3" width="150" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="middle">
                          <!-- button -->

                          <table data-bgcolor="Main Color" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3498db" style="border-radius: 20px; font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 255, 255); font-size: 14px; font-weight: 500; background-color: rgb(255, 255, 255);">
                            <tr>
                              <td height="35" align="center" valign="middle" style="font-family: 'Open Sans', Arial, sans-serif; color:#ffffff; font-size: 11px;padding-left: 30px;padding-right: 30px;font-weight: 500;line-height: 14px;">
                                 <a href="#" style="color: rgb(238, 80, 79);" data-color="Button Link">GET STARTED</a>
                              </td>
                            </tr>
                          </table>
                          <!-- end button -->

                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!-- end button -->

                <tr>
                  <td height="10">
                  </td>
                </tr>
                <!-- note -->

                <!-- end note -->

              </table>
            </td>
          </tr>
          <tr>
            <td height="70">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>