{% extends "base.html" %}
{% load humanize %}
{% load l10n %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block nome %}
    <strong>{{user}}</strong>&nbsp;
{% endblock %}

{% block content %}
	<h1 class="page-title">Lista de Emails <small><small>Dashboard</small></small></h1>
	<div class="row">
	    <div class="col-md-12">
	        <section class="widget">
					<div class="widget-body">
					    <div class="mt">
					        <table id="datatable-table" class="table table-striped table-hover">
					            <thead>
					            <tr>
					                <th class="no-sort hidden-xs">Nome</th>
	                                <th class="no-sort hidden-xs">Email</th>
					                <th class="hidden-xs">Empresa</th>
	                                <th class="hidden-xs">Telefone</th>
	                                <th class="hidden-xs">Enviado</th>
					            </tr>
					            </thead>
					            <tbody>
					            {% for r in contacts %}
					            <tr>
					                <td><span class="fw-semi-bold">{{r.nome}}</span></td>
	                                <td><span class="fw-semi-bold">{{r.email}}</span></td>
					                <td><span class="fw-semi-bold">{{r.empresa}}</span></td>
	                                <td><span class="fw-semi-bold">{{r.telefone}}</span></td>
	                                {% if r.enviado == 0 %}
										<td><span class="fw-semi-bold"><span class="glyphicon glyphicon-remove"></span></span></td>
	                                {% else %}	
	                                	<td><span class="fw-semi-bold"><span class="glyphicon glyphicon-ok"></span></span></td>
	                                {% endif %}
					            </tr>
					           {% endfor %}
					            </tbody>
					        </table>
                        <div class="widget">
                            <div class="row">
                                <div class="col-sm-offset-4 col-sm-7 ">
                                    {% bootstrap_paginate contacts centered="true" previous_label="Anterior" next_label="Proximo" range=10 %}
                                </div>
                            </div>
                        </div>
					    </div>
					</div>
	        </section>
	    </div>
	</div>
{% endblock content %}
