{% extends "base.html" %}
{% load humanize %}
{% load l10n %}
{% load staticfiles %}
{% load bootstrap %}
{% block nome %}
    <strong>{{user}}</strong>&nbsp;
{% endblock %}

{% block menu_1 %}
                    <li class="active"><a href="{% url 'operadoras' %}">Operadoras</a></li>
                    <li><a href="{% url 'cdr' %}">CDR</a></li>
{% endblock menu_1 %}

{% block lista_server %}{% endblock lista_server %}

{% block content %}



	<div class="row">
		<div class="col-md-12">
            <div class="tab-pane" id="financeiro">
				<br>
                <div class="clearfix">
				    <div class="col-md-12">
				        <section class="widget">
				            <header>
				                {% if soma != None %}
					                <h3>Comissão acomulada em <strong>{{today|date:"F Y" }}</strong> é de: <span class="fw-semi-bold">R$ {{soma}}</span></h3>
				                {% else %}
					                <h3>Não há comissão no mês de <strong>{{today|date:"F Y" }}</strong></h3>
				                {% endif %}
				            </header>
				            <div class="widget-body">
				                <table class="table table-striped mt-lg mb-0">
				                    <thead>
				                    <tr>
				                        <th class="text-align-center">Login</th>
				                        <th class="text-align-center">Clinte</th>
				                        <th class="text-align-center">Data da compra</th>
				                        <th class="text-align-center">Comissão</th>
				                        <th class="text-align-center">Mês</th>
				                        <th class="text-align-center">Ano</th>
				                    </tr>
				                    </thead>
				                    <tbody>
				                    {% for n in comissao %}
					                        <tr>
					                        	<td class="text-align-center">{{n.login}}</td>
					                        	<td class="text-align-center">{{n.nome}}</td>
					                        	<td class="text-align-center">{{n.data_compra}}</td>
					                        	<td class="text-align-center">R$ {{n.comissao|intcomma}}</td>
					                        	<td class="text-align-center">{{n.mes}}</td>
					                        	<td class="text-align-center">{{n.ano}}</td>
					                        </tr>			                        
				                    {% endfor %}
				                    </tbody>
				                </table>
				            </div>
				        </section>
				    </div>
                </div>
            </div>
		</div>
	</div>
	
	<div class="row">
	{% if retorno != None %}	
	{% else %}
		<div class="col-md-12">
		    <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h5 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                    	<strong>Faturas anteriores</strong>

		                        <i class="fa fa-angle-down pull-right"></i>
		                    </a>
		                </h5>
		            </div>
		                <div id="collapseTwo" class="panel-collapse collapse out">
				            <div class="tab-pane" id="financeiro">
								<br>
				                <div class="clearfix">
								    <div class="col-md-12">
				        <section class="widget">
				            <header>
				                {# <h3>Comissão em <strong>{{today|date:"F Y" }}</strong> é de: <span class="fw-semi-bold">R$ {{soma}}</span></h3> #}
				            </header>
				            <div class="widget-body">
				                <table class="table table-striped mt-lg mb-0">
				                    <thead>
				                    <tr>
				                        <th class="text-align-center">Mês</th>
				                        <th class="text-align-center">Comissão</th>
				                    </tr>
				                    </thead>
				                    <tbody>
				                  		{% for mes,comissao in retorno %}
					                        <tr>
					                        	<td class="text-align-center">{{mes|date:"F Y" }}</td>
					                        	<td class="text-align-center">R$ {{comissao|intcomma}}</td>
					                        </tr>			                        
				                    	{% endfor %}
				                    </tbody>
				                </table>
				            </div>
				        </section>
								    </div>
				                </div>
				            </div>
		    			</div>
		        </div>
			</div>
		</div>
	{% endif %}	
	</div>

{% endblock content %}

{% block scripts %}


<script id="test" src="{% static "vendor/underscore/underscore.js"%}"></script>
<script src="{% static "vendor/jquery.sparkline/index.js"%}"></script>
<script src="{% static "vendor/jquery.sparkline/index.js"%}"></script>
<script src="{% static "vendor/d3/d3.min.js"%}"></script>
<script src="{% static "vendor/rickshaw/rickshaw.min.js"%}"></script>
<script src="{% static "vendor/raphael/raphael-min.js"%}"></script>
<script src="{% static "vendor/jQuery-Mapael/js/jquery.mapael.js"%}"></script>
<script src="{% static "js/brazil.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/popover.js"%}"></script>
<script src="{% static "vendor/bootstrap_calendar/bootstrap_calendar/js/bootstrap_calendar.min.js"%}"></script>
<script src="{% static "vendor/jquery-animateNumber/jquery.animateNumber.min.js"%}"></script>


<!-- page specific libs -->
<script src="{% static "vendor/underscore/underscore-min.js"%}"></script>
<script src="{% static "vendor/backbone/backbone.js"%}"></script>
<script src="{% static "vendor/backbone.paginator/lib/backbone.paginator.min.js"%}"></script>
<script src="{% static "vendor/backgrid/lib/backgrid.js"%}"></script>
<script src="{% static "vendor/backgrid-paginator/backgrid-paginator.js"%}"></script>
<script src="{% static "vendor/datatables/media/js/jquery.dataTables.js"%}"></script>
<script src="{% static "vendor/bootstrap-select/dist/js/bootstrap-select.min.js"%}"></script>

<script src="{% static "js/tables-dynamic.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/tab.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/modal.js"%}"></script>
<style type="text/css">
	    .modal-content {
        position: absolute;
       /* padding: -20px;*/
        width: 1100px; /* SET THE WIDTH OF THE MODAL */
    }


</style>

<script type="text/javascript">
$(document).on('hidden.bs.modal', function (e) {
    $(e.target).removeData('bs.modal');
});
</script>
{% endblock %}