<section class="widget widget-invoice">
    <header>
        <div class="row">
            <div class="widget-body">
                <table class="table table-striped mt-lg mb-0">
                    <thead>
                    <tr>
                        <th class="text-align-center">Status</th>
                        <th class="text-align-center">Forma de pagamento</th>
                        <th class="text-align-center">Plano</th>
                        <th class="text-align-center">Valor</th>
                        <th class="text-align-center">Consultas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in pg_info %}
                        <tr>
                        {% if p.status == '3' %}
                            <td class="text-align-center"><strong>Pago</strong></td>
                        {% elif p.status == '7' %}
                            <td class="text-align-center"><strong>Cancelado</strong></td>
                        {% elif p.status == '1' %}
                            <td class="text-align-center"><strong>Aguardando pagamento</strong></td>
                        {% endif %}
                            <td class="text-align-center">{{p.get_paymentMethod_display}}</td>
                            <td class="text-align-center">{{p.item}}</td>
                            <td class="text-align-center">R$ {{p.grossAmount}}</td>
                            <td class="text-align-center">{{p.consultas}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </header>
    <div class="widget-body">
    </div>
</section>